.form-generic {
	width: 400px;
}

.profile-picture {
  width: 42px;
  height: 42px;
  margin: 4px;
}

.navbar-picture{
  width: 18px;
  height: 18px;
  margin: 4px;
}

.img-strawberry {
	width: 256px;
	height: 256px;
}

.welcome {
	margin: 60px auto;
}

.shoppinglist {
	width: 500px;
}

.minty {
	color: #1abc9c;
}

.shopping-list-margin {
	padding-top: 30px;
}

.shopping-list-icon {
	padding-right: 12px;
}
