.form-generic {
	width: 400px;
}

.img-strawberry {
	width: 256px;
	height: 256px;
}

.welcome {
	margin: 60px auto;
}

.shoppinglist {
	width: 500px;
}

.minty {
	color: #1abc9c;
}

.shopping-list-icon {
	padding-right: 12px;
}
