<div class="container">

<div class="auth-form">
	<form class="form-signin" ng-submit="login()">
		<h3>Sign in</h3>
		<label for="inputUsername" class="sr-only">Username</label>
		<input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="user.username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>

</div>
