<div class="container">

	<div class="alert alert-danger alert-dismissible" ng-show="error">
		<strong>Error: </strong>Incorrect username or password.</strong>
	</div>

	<div class="welcome form-generic">
		<form class="form-signin" ng-submit="login()">
			<h5>Welcome to Strawberry</h5>
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="user.username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
			<button class="btn btn-primary btn-block" type="submit">Log in</button>
    </form>
    <p><strong><a href="/auth/facebook"><span class="fui-facebook"></span> Sign in with Facebook.</a></strong></p>
	</div>

</div>
