<div class="container" ng-controller="shoppingListController">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">
          <img class="img-circle navbar-picture" src="img/Strawberry.png">
					<span>Strawberry</span>
				</a>
			</div>

			<!-- left navbar -->
			<ul class="nav navbar-nav">
				<li>
					<a class="nav navbar-link" href="#">About</a>
				</li>
			</ul>

			<!-- right navbar -->
			<div class="nav navbar-nav navbar-right">
        <li class="navbar-text">
          <img class="img-circle navbar-picture" ng-src="{{user.profileImage}}">
          {{user.givenName}} {{user.familyName}}
        </li>
        <li>
				  <a class="nav navbar-link" title="Log out" href="#/" ng-click="logout()">Log out</a>
        </li>
			</div>
		</div>
	</nav>

	<div class="row welcome">
		<div class="center-block">
			<div class="text-center">
				<span><img src="img/todolist.svg" alt="Strawberry"/></span>
        <h4> Hello, {{user.givenName}}.</h4>
        <h6 class="minty">We have __ in our list.</h6>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
		</div>

			<div class="col-md-6">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">
						<i class="fa fa-cart-plus"></i>
					</div>
					<input type="text" ng-model="formData.text" typeahead="product for product in products | filter:$viewValue | limitTo:6"
						class="form-control" placeholder="What would you like to buy?">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="createShoppingItem()">
							<i class="fa fa-plus"></i>
						</button>
					</span>
				</div>
		</div>
	</div>

  <div class="row shopping-list-margin">
		<div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="shoppinglist in shoppinglists" ng-click="switchList(shoppinglist._id)">
          <i class="fa shopping-list-icon" ng-class="currentList == shoppinglist._id ? 'fa-chevron-circle-right' : 'fa-shopping-cart'"></i>
          {{shoppinglist.name}}
          <i class="fa fa-minus-square pull-right minty" ng-click="deleteList(shoppinglist._id)"></i>
        </a>
			</div>
      <a class="btn btn-default add-button" data-toggle="modal" data-target="#modalAddList"><i class="fa fa-cart-plus"></i></a>
      <a class="btn btn-default add-button" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-user-plus"></i></a>
		</div>

    <div class="col-md-6">
			<div class="list-group list-group-sm">
				<a href="" class="list-group-item" ng-repeat="item in shoppinglistItems" ng-if="!item.checked" ng-click="checkShoppingItem(item._id)">
          <span class="fa fa-circle-o shopping-list-icon"></span>
          <span>{{item.name}}</span>
        </a>
			</div>
		</div>
    <div class="col-md-3">
      <div ng-repeat="member in users">
        <img class="img-circle profile-picture" ng-src="{{member.profileImage}}">
        {{member.givenName}}
      </div>
    </div>
	</div>

  <!-- Add List -->
  <div class="modal fade" id="modalAddList" tabindex="-1" role="dialog" aria-labelledby="modalAddListLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalAddListLabel"><i class="fa fa-cart-plus"></i></h4>
        </div>
        <div class="modal-body">
         <input type="text" class="form-control" ng-model="newListModel.text" placeholder="What is the list name?">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="createShoppingList()">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add User -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserModalLabel"><i class="fa fa-user-plus"></i> add members to list</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" typeahead-editable="false" placeholder="Search for other users..." ng-model="formData.text" typeahead="user.name for user in [{name:'Jaol'}, {name:'Salo'}] | filter:$viewValue | limitTo:6">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
